<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">

    <title>Hospital Management</title>
  </head>
  <body>
{% load static %}
  <nav style="background-color:#FF8C00 ; font-size: 20px;border-bottom:solid black 3px;border-top:solid black 3px;margin-bottom:10px">
  <div class="container-fluid">
    <h1><center style="color:black">Hospital Management Portal</center></h1>
  </div>
</nav>

<div class="container" id="add" role="tabpanel" style="margin-top:20px;margin-bottom:20px">
          <h5><b><center>Enter Details</center></b></h5>

          <form action="modify" method="post">{% csrf_token %}

          <div class="row" style="margin:20px;">
              <div class="col">
		    <input class="form-control" type="text" name="serial" placeholder="Serial No" required="required" value="{{serial}}"/>
              </div>
              <div class="col">
           <input class="form-control" type="text" name="name" placeholder="Name" required="required" value="{{name}}"/>
              </div>
        </div>

          <div class="row" style="margin:20px;">
              <div class="col">
		    <input class="form-control" type="text" name="father" placeholder="Guardian's Name" required="required" value="{{father}}"/>
              </div>
              <div class="col">
           <input class="form-control" type="text" name="age" placeholder="Age" required="required" value="{{age}}"/>
              </div>
        </div>

          <div class="row" style="margin:20px;">
              <div class="col">
		    <input class="form-control" type="text" name="sex" placeholder="Sex" required="required" value="{{sex}}"/>
              </div>
              <div class="col">
           <input class="form-control" type="text" name=height" placeholder="Height" required="required" value="{{height}}"/>
              </div>
        </div>

          <div class="row" style="margin:20px;">
              <div class="col">
		    <input class="form-control" type="text" name="weight" placeholder="Weight" required="required" value="{{weight}}"/>
              </div>
              <div class="col">
           <input class="form-control" type="text" name="blood" placeholder="Blood Group" required="required" value="{{blood}}"/>
              </div>
        </div>

          <div class="row" style="margin:20px;">
              <div class="col">
		    <input class="form-control" type="text" name="address" placeholder="Address" required="required" value="{{address}}"/>
              </div>
              <div class="col">
           <input class="form-control" type="text" name="city" placeholder="City" required="required" value="{{city}}"/>
              </div>
        </div>

          <div class="row" style="margin:20px;">
              <div class="col">
		    <input class="form-control" type="text" name="state" placeholder="State" required="required" value="{{state}}"/>
              </div>
              <div class="col">
           <input class="form-control" type="text" name="mobile" placeholder="Mobile" required="required" value="{{mobile}}"/>
              </div>
        </div>

          <div class="row" style="margin:20px;">
              <div class="col">
		    <input class="form-control" type="text" name="email" placeholder="Email" required="required" value="{{email}}"/>
              </div>
              <div class="col">
           <input class="form-control" type="text" name="doctor" placeholder="Doctor" required="required" value="{{doctor}}"/>
              </div>
        </div>

          <div class="row" style="margin:20px;">
              <div class="col">
		    <input class="form-control" type="text" name="disease" placeholder="Disease" required="required" value="{{disease}}"/>
              </div>
              <div class="col">
           <input class="form-control" type="text" name="medicine" placeholder="Medicine" required="required" value="{{med}}"/>
              </div>
        </div>

          <div class="row" style="margin:20px;">
              <div class="col">
		    <input class="form-control" type="text" name="bill" placeholder="Bill Rs." required="required" value="{{bill}}"/>
              </div>
              <div class="col">
           <input class="form-control" type="text" name="payment" placeholder="Payment" required="required" value="{{payment}}"/>
              </div>
        </div>

              <div class="row" style="margin:20px;">
              <div class="col">
		    <input class="form-control" type="text" name="date1" placeholder="Arrival Date" required="required" value="{{date1}}"/>
              </div>
              <div class="col">
           <input class="form-control" type="text" name="date2" placeholder="Leaving Date" value="{{date2}}"/>
              </div>
        </div>

                      <center><button type="submit" class="btn btn-success" >Update</button></center>
          </form>
      </div>

<div class="card text-center" style="border-bottom:solid black 3px;border-top:solid black 3px;">
  <div class="card-body">
    <h5 class="card-title">Check out Developers Community Page</h5>
    <p class="card-text"></p>
    <a href="https://devtechcommune.herokuapp.com/" class="btn btn-warning">Visit Us</a>
  </div>
  <div class="card-footer" style="background-color: #ff8c00;border-top:solid black 3px;font-size:20px; color:black">
      <center>Developed By : @ Pratik Moharkar</center>
  </div>
</div>

  <!-- Optional JavaScript -->
    <!-- Popper.js first, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
  </body>
</html>